.layout {
  min-height: 100vh;
  background-color:  rgb(255, 255, 255);
}



.header {
  background-color: rgb(255, 255, 255);
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.userButton {
  margin-right: 32px;
}

.content {
  padding: 0 50px;
  margin-top: 84px;
  background-color: rgb(255, 255, 255);
  min-height: calc(100vh - 128px);
}

.footer {
  height: 64px;
  text-align: center;
  width: 100%;
}
